<mat-form-field>
  <mat-label>{{ "RAPORT_TYPE" | translate }}</mat-label>
  <mat-select>
    @for (raportType of []; track raportType){
    <mat-option [value]="raportType">{{ raportType }} </mat-option>
    } @empty {
    <mat-option disabeld> There are no items. </mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
